<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>系统主页</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
</head>
<body>
<div class="flex-center">
    <div class="container">
        <nav class="flex-center">
            <div class="unit flex-center"><a href="{% url 'loginhub:index' %}">主页</a></div>
            <div class="unit flex-center">XX</div>
            <div class="unit flex-center">XX</div>
            <div class="unit flex-center">XX</div>
            <div class="unit flex-center">XX</div>
            {% if login_flag %}
                <div class="unit flex-center">
                    <span style="color: seagreen">{{ request.user.username }} <a
                            href="{% url "loginhub:logout" %}">注销</a></span>
                </div>
            {% else %}
                <div class="unit flex-center"><a href="{% url 'loginhub:login' %}">登录</a></div>
            {% endif %}
        </nav>
        <div class="flex-center">
            <h1>欢迎来到主页！</h1>
        </div>
    </div>
</div>

</body>
</html>