<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>用户注册</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
</head>
<body>
<div class="flex-center">
    <div class="container">
        <div class="flex-center">
            <div class="unit-1-2 unit-1-on-mobile">
                <h1>用户注册</h1>
                <form class="form" action="" method="post">
                    {% csrf_token %}
                    <div>用户名:{{ register_form.username }}</div>
                    <div>邮 箱:{{ register_form.email }}</div>
                    <div>手机号:{{ register_form.mobile }}</div>
                    <div>密 码:{{ register_form.password }}</div>
                    <div>密码确认:{{ register_form.confirm_password }}</div>
                    <button type="submit" class="btn btn-primary btn-block">注 册</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
